.popup__title-image {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  z-index: 3;
  margin: 10px 0 0 0;
  padding: 0;
}